body{
    background-color: cyan;
}

.image{
    height: 500px;
    width: 650px;
}

.image1{
    height: 500px;
    width: 650px;
}


.image2{
    height: 500px;
    width: 650px;
}

.image3{
    height: 500px;
    width: 650px;
}